
body {
	margin: 10 auto;
	width: 340px;
	background-color: black;
	box-shadow: 10px 10px 5px -5px rgba(50,205,50,0.62);
}

h3 {
	margin: 10px;
	text-align: center;
	font-family: "Lobster", cursive;
	font-size: 40px;
	color: limegreen;
}

img {
	border-radius: 20px;
	margin-left: 3%;
    border: 3px solid limegreen;
    padding: 5px;
}

.container {
	border: 2px solid #e5e5e5; 
}

.info {
	border: 2px solid #e5e5e5;
	margin: 10px;
	padding: 5px;
	color: white;
}

.fact {
	font-style: italic;
}

ul {
	list-style-type: none;
}

.details {
	font-weight: bold;
}
